
*{
	margin: 0;
	padding: 0;
}
main{
	margin: auto;
	color: black;
	display: inline-flex;
	width: 100%; 

}
.Sydney, .Berlin, .Newyork, .Kathmandu{
	height: 100vh;
	width: 25%;
	
}
.digital{
	margin: 0 auto;
	padding-top: 85%;
}
h3,h4{
	color: #e9e9e9;
	text-align: center;
	font-size: 30px;
	background-color: rgba(0,0,0,0.7);
	padding: 15px;

}

.Sydney{
	background-image: url("image/sydney.jpg");
	background-size: cover;
}
.Berlin{
	background-image: url("image/berlin.jpg");
	background-size: cover;
}
.Newyork{
	background-image: url("image/newyork.jpg");
	background-size: cover;
}
.Kathmandu{
	background-image: url("image/kathmandu.jpg");
	background-size: cover;
}
@media screen and (max-width: 970px){
	main{
		display: block;
		
	}
	.Sydney, .Berlin, .Newyork, .Kathmandu{
		display: block;
    	margin-left: auto;
    	margin-right: auto;
    	width: 100%;
	}
}
	@media screen and (max-width: 640px){
	main{
		display: block;
		margin-left: auto;
    	margin-right: auto;
    	width: 100%;
	}
	.Sydney, .Berlin, .Newyork, .Kathmandu{
		display: block;
    	margin-left: auto;
    	margin-right: auto;
    	width: 100%;
	}
}
	@media screen and (max-width: 320px){
	main{
		display: block;
		margin-left: auto;
    	margin-right: auto;
    	width: 100%;
	}
	.Sydney, .Berlin, .Newyork, .Kathmandu{
		display: block;
    	margin-left: auto;
    	margin-right: auto;
    	width: 100%;
	}
}
